/* Add a black background color to the top navigation */
.topnav {
    background-color: #f7cf5f;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #6d0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgba(245, 198, 97, 0.795);
    color: #6d0000;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: #6d0000;
}

#just-line-break {
    white-space: pre-line;
}
  
#line-break-and-tab {
    white-space: pre-wrap;
}


body, html {
    height: 100%;
}  

.parallax {
    /* The image used */
    background-image: url("../pics/orange-sunny.png");
  
    /* Set a specific height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fontfam {
    font-family:'Ubuntu', sans-serif;
}

.darkred {
    color: #6d0000
}